nav {  

  
  font-family: 'Aclonica', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;

  
}

.jumbotron {
  position: relative;
  background-color: whitesmoke;
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
  color: rgb(148, 143, 143);

}


a.nav-link {
    color: rgb(100, 98, 98);

}

.bailey {
  float: right;
  height: 200px;
  width: 200px;
  margin-left: 200px;
}
.display-4 {
  font-family: 'Monoton', cursive;
  font-size: 24px;

}

img {
  height: 700px;
  width: 800px;
}

.card-img-top {
  height: 400px;
}
.container {
  width: 90%;
  position: relative;
}
.centered {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 18px;
  font-weight: bold;
  
  

}
.text {
  font-family: 'Monoton', cursive;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

.textTwo {
  font-family: 'Monoton', cursive;
  letter-spacing: 18px;
  animation: moveInRight 5s ease-out;
}
@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }   

  80% {
      transform: translateX(10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }   

  80% {
      transform: translateX(-10px);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

footer {
  display: inline-block;
  font-family: 'Monoton', cursive;
}
a {
  color: gray;
}
.foot {
  margin-left: 20px;
}